[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "~=5.0"
flake8 = "~=3.8"
flake8-annotations = "~=2.0"
flake8-bugbear = "~=20.1"
flake8-import-order = "~=0.18"
flake8-string-format = "~=0.2"
flake8-tidy-imports = "~=4.0"
pep8-naming = "~=0.9"
pre-commit = "~=2.1"
ipython = "~=7.18.1"

[packages]
pygame = "~=1.9"
loguru = "~=0.5.3"

[requires]
python_version = "3.8"

[scripts]
start = "python -m src"
lint = "pre-commit run --all-files"
test = "coverage run -m unittest"
html = "coverage html"
report = "coverage report"
